ul {
    list-style-type: none;
}

li a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0.5em 0 0.5em 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding: 1em;
}

.btn {
    background:#E3E3E3;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    padding: 1.5px 5px 1.5px 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: default;
}