.users_table {
    margin: 0 auto;
}

#add_btn {
    margin-top: 1.5em;
    background: #68bb59;
    color:#ffffff;
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}

i {
    margin-left: -30px;
    cursor: pointer;
}